{% extends "layout.html" %} {% block content %}
<h2>Frequency for {{ game }}</h2>
<p>Date Range: {{ start_date }} to {{ end_date }}</p>

<div class="row">
  <div class="col-md-6">
    <h4>White Ball Frequency</h4>
    <div id="whiteChart"></div>
  </div>
  <div class="col-md-6">
    <h4>
      {% if game == "Powerball" %} Powerball Frequency {% else %} Mega Ball
      Frequency {% endif %}
    </h4>
    <div id="redChart"></div>
  </div>
</div>

<button
  class="btn btn-secondary mt-3"
  onclick="location.href='{{ url_for('index') }}'"
>
  Go Home
</button>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  var xw = {{ xw|tojson|safe }};
  var yw = {{ yw|tojson|safe }};
  var dataWhite = [{ x: xw, y: yw, type: 'bar' }];
  var game = "{{ game }}"
  if (game === "Powerball") {
    Plotly.newPlot('whiteChart', dataWhite, { title: '1-69' });
  } else {
    Plotly.newPlot('whiteChart', dataWhite, { title: '1-70' });
  }

  var xr = {{ xr|tojson|safe }};
  var yr = {{ yr|tojson|safe }};
  var dataRed = [{ x: xr, y: yr, type: 'bar', marker: { color: 'red' } }];
  if (game === "Powerball") {
    Plotly.newPlot('redChart', dataRed, { title: '1-26' });
  } else {
    Plotly.newPlot('redChart', dataRed, { title: '1-25' });
  }
</script>
{% endblock %}
