{% extends "layout.html" %} {% block content %}
<h2>Frequency for {{ game }}</h2>
<p>Date Range: {{ start_date }} to {{ end_date }}</p>

<div class="row">
  <div class="col-md-6">
    <h4>White Ball Frequency</h4>
    <div id="whiteChart"></div>
  </div>
  <div class="col-md-6">
    <h4>Red Ball Frequency</h4>
    <div id="redChart"></div>
  </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  var xw = {{ xw|tojson|safe }};
  var yw = {{ yw|tojson|safe }};
  var dataWhite = [
    {
      x: xw,
      y: yw,
      type: "bar",
    },
  ];
  Plotly.newPlot("whiteChart", dataWhite, { title: "White Balls" });

  var xr = {{ xr|tojson|safe }};
  var yr = {{ yr|tojson|safe }};
  var dataRed = [
    {
      x: xr,
      y: yr,
      type: "bar",
      marker: { color: "red" },
    },
  ];
  Plotly.newPlot("redChart", dataRed, { title: "Red Balls" });
</script>

<a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Back to Home</a>
{% endblock %}
